NCTravel/NCTravel/App_Start/*
NCTravel/NCTravel/bin/*
NCTravel/NCTravel/fonts/*
NCTravel/NCTravel/Images/*
NCTravel/NCTravel/obj/*
NCTravel/NCTravel/Properties/*
NCTravel/NCTravel/Scripts/*
NCTravel/packages/*
NCTravel/.vs/*
*.config
NCTravel/NCTravel/Startup.cs
*.user
*.csproj
NCTravel/NCTravel/Global.asax.cs
*.asax
*.ico
*.ldf
*.sln
