@{
    ViewBag.Title = "Contact";
}
<style>

    .image {
        content: url('/Images/Kyle_headshot.jpg');
        width: 150px;
    }
</style>

<head>

</head>

<h2>Contact Information</h2>
<h3>Kyle Greer</h3>

<div class="image"></div><br />

    <span class="glyphicon glyphicon-phone"></span> 336-543-3776 <br />
    <span class="glyphicon glyphicon-envelope"></span> kylengreer1@gmail.com<br />
    <img src="~/Images/linkedin-logo.png" width="75" /> <a href="https://www.linkedin.com/in/kyle-greer">Kyle Greer</a>
